DATABASE_URL="postgresql://postgres.[REF]:[PASS]@[HOST]:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.[REF]:[PASS]@[HOST]:5432/postgres"

# Supabase Storage & Client
NEXT_PUBLIC_SUPABASE_URL="https://[REF].supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="[KEY]"

# NextAuth
NEXTAUTH_SECRET="[SECRET]"
NEXTAUTH_URL="http://localhost:3000"

# Serviços Externos
NFE_PROVIDER="mock"
NFE_API_KEY=""
NFE_API_URL=""
